/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

  html,
  body,
  header,
  .view {
    height: 100%;
  }

 
 body {
  font-family: "Open Sans", sans-serif;
  font-family: 'Raleway', sans-serif;  
    font-family: 'Cormorant', serif;
  color: #272829;
  background: #f6f6f6;
}


a {
  color: #1f3952;
  text-decoration: none;
}

a:hover {
  color: #436ede;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-family: 'Cormorant', serif;
    font-weight: bold;

 }



/*--------------------------------------------------------------
# Full page Section
--------------------------------------------------------------*/
  @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 100vh;
    }
  }


  
  .display-3{
  font-size: 6em;
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 300% auto;
  animation: textShine 5s ease-in-out infinite alternate;
  }


@keyframes textShine {
  to {
    background-position: 300%;
  }
}
.rgba-gradient{
   background: rgb(79,113,153);
background: linear-gradient(180deg, rgba(79,113,153,0.7203081916360294) 0%, rgba(145,161,189,1) 9%, rgba(246,246,246,0.49341743533350846) 84%, rgba(255,255,255,0.0760504885547969) 100%); 
}



/*--------------------------------------------------------------
# AboutUS Section
--------------------------------------------------------------*/
 
.card{
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 12px;
  margin: 10px;
  border-color: #fff;
 }
.card:hover{
  border-color: #b891bd;
  box-shadow: 0px 0 35px 0 #b891bd;
  background: #b891bd;
} 
i{
  margin-left: 10px;
}

@media (min-width:768px) {
  
    .card{
      width: 23%;
      height: auto;
      border-radius: 10px;
      padding: auto;
      margin: auto;
      left: auto;

      border-color: #fff;


     }
}
@media (max-width:760px) {
  
    .card{
      width: 45%;
      height: auto;
      left: auto;
      border-color: #fff;


     }
}

/*--------------------------------------------------------------
# timeline Section
--------------------------------------------------------------*/
 .timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap

}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem

}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #b891bd;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #b891bd;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background: rgb(79,113,153);
    background: radial-gradient(circle, rgba(79,113,153,1) 0%, rgba(184,145,189,1) 46%, rgba(246,246,246,0.8407563709077381) 100%);
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}



/*--------------------------------------------------------------
# footer & others Section
--------------------------------------------------------------*/
.page-footer{
  background: #a7b4c9;
  width:9z0%; 
  margin-left: 5% !important;
  margin-right:5% !important;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 7px solid #a7b4c9;  

}
  
.card-img-top{
      filter: grayscale(60%);
  }

.card-img-top:hover{
      filter: grayscale(10%);
  }

      .map-container {
        overflow: hidden;
        position: relative;
        height: 0;
      }

      .map-container iframe {
        left: 0;
        top: 10%;
        height: 80%;
        width: 100%;
        position: absolute;
      }

.work-hr{
  width:65%;
  margin: auto;
  margin-bottom: 30px;
  background: blue;
  padding: 1.2px;
  background: radial-gradient(circle, rgba(79,113,153,1) 0%, rgba(184,145,189,1) 46%, rgba(246,246,246,0.8407563709077381) 100%);
}

.work-back{
  background: #a7b4c9;
  border-radius: 15px;

}

.hero{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  opacity: .5;
  z-index: -1;
}